
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .background{
    background-color: #c1285d;
  }

  .element {
    max-height: 300px;
    transition: max-height 0.3s ease-in;
  }

  
  
  .navbarTransition{
    max-height: 450px;
    transition: max-height 0.3s ease-in;
  }

  .grayscale {
    filter: grayscale(100%);
  }
  
  .high-contrast {
    background-color: black;
    color: white;
  }

  .white-contrast{
   background-color: white;
   color:black;
  }


  .negative-contrast {
    background-color: black;
    color: yellow !important;
    z-index: 9999;;
  }

  .itemColor{
    color:#19417f
  }

  .border{
    border:2px solid #19417f
  }

  .borderWihte{
    border:2px solid white
  }

  .blue {
    background-color: #19417f;
  }

  .font{
    font-weight: 500;
  }

  .change{
    color:#c1285d
  }

  .background{
    background-color: #c1285d;
  }

  .color{
    color: black;
  }

  .backgroundShadow{
    background-color: rgba(0, 0, 0, 0.426);
  }

  .card-image {
    transition: transform 0.2s;
    transform-origin: center;
  }
  
  .card-image:hover {
    transform: scale(1.05);
  }
  .bgGray{
    background-color: #333333;
  }

  .input{
    border:none;
    background-color:transparent ;
   border-bottom:1px solid grey;
   outline: none;
    color:white;
   
  }

  @media only screen and (max-width: 400px) {
    .small {
      display: block;
    }
  }

  .slider-image-container {
    width: 100%;
    height: 500px; 
    overflow: hidden;
  }

  .slider-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  
  }
  
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-20 py-12;
  }

  .padding-x {
    @apply xl:px-28 px-8;
  }

  

  .padding-y {
    @apply sm:py-20 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }

  .responsive {
    @apply max-sm:absolute max-sm:top-0  max-sm:bg-white max-sm:w-full
    max-sm:h-fit
  }

  .menu{
    @apply  md:absolute max-sm:left-0 sm:right-0 sm:w-[650px] lg:w-[900px] xl:w-[1080px]
   }

   .textResponsive{
    @apply max-sm:w-[170px] pl-8 max-sm:text-xs

   }

   .overFlow{
    @apply  max-sm:overflow-auto sm:overflow-auto lg:overflow-auto xl:overflow-hidden
   }

   
  

}